.item-detail{
    min-height: max-content;
    height:100%;
}
.loading-detail{
    margin-left: 45%;
    margin-top: 8%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:6px solid rgb(27, 165, 94);
    border-top-color: transparent;
    animation: spin 0.7s 
    linear infinite;
}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }

}